<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="polytechnique.wifi_searcher">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/wifi_signal"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wifi_signal"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.startActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.mapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBu_Kp6-jjKYhsB40W56nAWIZt-OT0H8TY"/>

    </application>

</manifest>